.footer {
  background-color: var(--primary-color);
  padding: 60px 0 40px;
  min-height: 350px;
  box-sizing: border-box;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: stretch;
}
