/* Variables */

:root {
  --primary-color: #1f1f1f;
  --secondary-color: #f2f2f2;
  --primary-text: #000;
  --secondary-text: #2f80ed;
}

/* Page */


.page {
  box-sizing: border-box;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/* Header */


.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: var(--secondary-color);
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 500;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  z-index: 3;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 500px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: var(--secondary-text);
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* Content */


/* Description */

.description {
  padding: 100px 0 0 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  align-self: flex-start;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--secondary-text)
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child) {
  margin: 0 0 30px;
}

.two-columns__span-accent {
  font-weight: 500;
}


/* Digits */


.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digits-margins {
  margin: 100px auto;
}

.section-title {
  margin: 0 0 20px 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 500;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  border-spacing: 0;
  border-collapse: collapse;
  width: 1100px;
  margin-top: 60px;
}
.table__tbody {
  width: 100%;
}
.table__cell {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.table__heading {
  text-align: left;
  line-height: 34px;
  font-size: 24px;
  font-weight: 500;
}
.table__text,
.table__heading {
  width: 250px;
  vertical-align: top;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text_margins {
  display: block;
  padding-top: 20px;
}
.table__cell_margins_min {
  margin-top: 20px;
}
.table__cell_margins_max {
  margin-top: 60px;
}

/* Feinman */


.feynman {
  position: relative;
  background: var(--secondary-color) url(../images/feynman.png) no-repeat left bottom / 867px 637px;
  padding: 100px 0 400px;
}
.feynman__tile {
  width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 500;
}
.feynman__subtitle {
  margin: 0;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  text-decoration: none;
  color: var(--secondary-text);
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
